@{
    ViewBag.Title = "Home Page";
}
@*<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="jumbotron">
    <h1>Easy P-Tracking App</h1>
    <p class="lead">Track and Find easly your desired product at KIABI'S Stores</p>
</div>
<hr style="border-width = 10px; border-bottom-width:thick;"/>
<h2><b>Welcome Customer X</b></h2>
<br />


<div class="row">
    <div class="col-md-12">
        <a href="#" id="AdvancedSearchAnchor">Advanced Search <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </div>
</div>

<hr>

<div id="advancedSearchDiv" class="row visible">
    <div class="col-md-12 form-group">
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <div class="col-md-5">
                        <label class="control-label">Choose a Store</label>
                    </div>
                    <div class="col-md-7">
                    @Html.DropDownListFor("StoreId", Url.Action("GetStores"))
                        
                        @*@Html.Select2("TypeId", Url.Action("GetJobType"), new Select2Option
                       {
                           //OnChange = "disableFieldsValue",
                           Placeholder = "Search by Type",
                           AllowClear = true,
                           MinimumInputLength = 0,
                           Width = "100%"
                       })*@
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-md-5">
                        <label class="control-label">Gender</label>
                    </div>
                    <div class="col-md-7">
                        @*@Html.Select2Ajax("JobFieldId", Url.Action("GetJobFields"), new Select2Option
                       {
                           Placeholder = "Search by job fields",
                           AllowClear = true,
                           MinimumInputLength = 0,
                           Multiple = true,
                           Width = "100%",
                           DependsOn = "TypeId"
                       })*@
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 form-group">
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <div class="col-md-5">
                        <label class="control-label">Categories</label>
                    </div>
                    <div class="col-md-7">
                        @*@Html.Select2Ajax("FunctionId", Url.Action("GetJoTitles"), new Select2Option
                       {
                           Placeholder = "Search by Function",
                           AllowClear = true,
                           MinimumInputLength = 3,
                           Multiple = true,
                           Width = "100%"
                       })*@
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-5">
                        <label class="control-label">Choose Color</label>
                    </div>
                    <div class="col-md-7">
                        @*@Html.Select2Ajax("ProfileId", Url.Action("GetJoTitles"), new Select2Option
                       {
                           Placeholder = "Search by Profile",
                           AllowClear = true,
                           MinimumInputLength = 3,
                           Multiple = true,
                           Width = "100%"
                       })*@
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="text-align: center;">
                    <button class="btn btn-info searchBtn" type="button" data-url="@Url.Action("SearchTable", "Home")">
                        <span class="fa-search fa"></span>
                        Search
                    </button>
                    <button class="btn btn-info" type="button" id="clearRefreshBtn" data-url="@Url.Action("SearchTable", "Home")">
                        <i class="icon-refresh"></i>
                        <span>Clear Filter</span>
                    </button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>

<div id="table-responsive">
    <table id="tableDiv" class="table table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th>Product</th>
                <th>Gender</th>
                <th>Category</th>
                <th>Theme</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model.PagedList)
            {*@
                <tr>
                    <td>
                        @*<a class="btn btn-small itemAction" data-url="@Url.Action("Edit", @*new { id = item.ID }*@@*)" href="#">
                            Details
                        </a>*@
                    </td>
                    <td>
                   
                    </td>
                    <td>
                       
                    </td>
                    <td>
                     
                    </td>
                    <td>

                    </td>
                </tr>
            @* } *@
        </tbody>
    </table>
</div>


@section scripts
{
}



